/* You can add global styles to this file, and also import other style files */
@import "fonts";
:root{
    --dark-color: #000000;
    --light-color: #ffffff;
}
body {
    background: var(--dark-color);
    color: var(--light-color);
    font-family: "JetBrains Mono", sans-serif;

}
